---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <!-- <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex: {
          equationNumbers: { autoNumber: "AMS" },
          tagSide: "right",
          macros: {
            R: '\\mathbf{R}'
          },
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
      MathJax.Hub.Register.StartupHook("TeX AMSmath Ready", function () {
        MathJax.InputJax.TeX.Stack.Item.AMSarray.Augment({
          clearTag() {
            if (!this.global.notags) {
              this.super(arguments).clearTag.call(this);
            }
          }
        });
      });
      
    </script>
    <script type="text/javascript" charset="utf-8"
      src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS_CHTML">
    </script> -->

  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
